body {
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer {
    position: relative;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background-color: #555;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #FFF;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #555;
    transition: transform 0.1s ease;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;
    display: flex;

    color: #FFF;
}

.instrument {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tones {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    vertical-align: middle;
    height: 224px;
}

.label {
    font-size: 1.2em;
}

.tone-button,
.octave-button {
    /* Round corner, slightly transparent, white background, neon border */
    border-radius: 25px;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    color: #000;
    width: auto;
    height: 42px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.background-overlay {
    display: hidden;
    background-color: #FFF;
    opacity: 0.5;
}

.img-gamepad-button {
    width: 32px;
    height: 32px;
    margin: 8px;
}

.gamepad-button {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
}

.octave-bullet {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    margin: 2px;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFF;
}

.line0 {
    transform: rotate(22.5deg);
}

.line1 {
    transform: rotate(67.5deg);
}

.line2 {
    transform: rotate(112.5deg);
}

.line3 {
    transform: rotate(157.5deg);
}

.note_0 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_1 {
    position: absolute;
    top: 23%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_2 {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_3 {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_4 {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_5 {
    position: absolute;
    top: 75%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_6 {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.note_7 {
    position: absolute;
    top: 23%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}